* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ====Login Page Styling==== */
.login-heading {
    text-align: center;
    margin-top: 70px;
    font-family: "Sarabun", sans-serif;
    font-weight: 900;
    font-size: 35px;
    color: #a5f019;
}

.login-info {
    margin-top: 50px;
    position: absolute;
    left: 47%;
    transform: translateX(-50%);
}

@media(max-width:600px) {
    .login-info {
        left: 40%;
    }
}

@media(max-width:380px) {
    .login-info {
        left: 40%;
        transform: translateX(-65%);

    }
}

.login-info span {
    font-family: "Sarabun", sans-serif;
    font-size: 20px;
    margin-right: 20px;
    color: #8e8e8e;
}

.login-info input {
    width: 170%;
    padding: 5px 5px 5px 5px;
    margin-bottom: 20px;
    font-family: "Sarabun", sans-serif;
    background-color: #111111;
    color: #fff;

}

.login-button {
    text-align: center;
    background-color: black;
    text-decoration: none;
    color: #fff;
    border: 1px solid #a5f019;
    padding: 10px 35px 10px 35px;
    font-weight: 600;
    position: absolute;
    left: 90%;
    transform: translateX(-50%);
}

.login-button:hover {
    background-color: #71ff03;
    color: #8e8e8e;
}

.login-text {
    display: flex;
    justify-content: center;
    margin-top: 23em;
    color: #fff;
    font-family: "Sarabun", sans-serif;
    font-size: 18px;
}

.login-link {
    color: #71ff03;
    font-size: 18px;
    margin-left: 10px;
}



/* ====Navbar Styling==== */
.mynavbar {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .12), inset 0 -1px 0 0 #71ff03;
    background-color: #111111;
    margin-bottom: 2em;
}

.heading1 {
    color: white;
}

.navbar-link {
    text-decoration: none;
    color: #fff;
    padding: 5px 15px 5px 15px;
    border: 2px solid #0de42ac5;
}

@media(max-width:767px) {
    .mynavbar {
        margin-bottom: 2em;
    }
}


/* ====Information Styling=== */
.information-main {
    border: 1px solid #71ff03;
    box-shadow: 5px 5px 20px 2px #5b870b;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 30px;
}

.mycontainer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .mycontainer {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .mycontainer {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .mycontainer {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .cmyontainer {
        max-width: 1140px;
    }
}

@media (max-width:575px) {
    .information-main {
        margin-bottom: 30px;
        padding-left: 5px;
        margin-left: 10px;
        padding-right: 0;
    }
}


.form {
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
}

.form-section2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.form-span {
    font-size: 18px;
    margin-right: 10px;
    font-family: "Sarabun", sans-serif;
    font-weight: 500;
    color: #8e8e8e;
}

.form-input {
    width: 20%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 10px 5px 12px 5px;
    margin-left: 10px;
    margin-right: 50px;
    background-color: #111111;
    font-family: "Sarabun", sans-serif;
    font-weight: 490;
    padding-left: 10px;
    color: #fff;
}

.button {
    margin-top: 50px;
    padding: 10px 25px 10px 25px;
    color: black;
    font-weight: 900;
    font-family: "Sarabun", sans-serif;
    background-color: #8cc81c;
    border: none;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.country-input {
    width: 25%;
    padding: 10px 5px 12px 5px;
    font-family: "Sarabun", sans-serif;
    font-weight: 500;
    background-color: #111111;
    border: 0;
    color: #fff;
}

@media(max-width:991px) {

    .form,
    .form-section2 {
        display: block;
        margin-bottom: 20px;
    }

    .form-span {
        display: block;
        margin-bottom: 15px;/
    }

    .form-input,
    .country-input {
        margin-bottom: 50px;
        width: 90%;
        margin-right: 0;
    }

    .button {
        margin-top: 0px;
        left: 40%;
        transform: translate(2%);
        position: relative;
    }
}

@media(max-width:400px) {
    .button {
        left: 30%;
    }
}


/* ===Form Styling=== */
.form-table {
    border: 1px solid #71ff03;
    box-shadow: 5px 5px 20px 2px #5b870b;
    text-align: start;
    width: 40%;
    margin-top: 70px;
    margin-left: 370px;
    margin-bottom: 50px;
}

@media(max-width:900px) {
    .form-table {
        width: 100%;
        margin-left: 0;
    }
}

.table-data {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #8e8e8e;
    color: #8e8e8e;
    border-left: none;
    text-align: start;
    font-family: "Sarabun", sans-serif;

}


.table-brand {
    text-align: center;
    font-size: 35px;
    font-family: "Sarabun", sans-serif;
    font-weight: 600;
    color: #a5f019;
}

.form-back {
    padding: 10px 25px;
    color: black;
    font-weight: 900;
    font-family: "Sarabun", sans-serif;
    background-color: #8cc81c;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}